[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output HDMI-1-1 --mode 1920x1080 --rate 120.00 --output eDP-1-1 --mode 1366x768 --rate 60.00 --right-of HDMI-1-1'
OnlyShowIn=LXDE
