[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --set TearFree on --output HDMI-1 --mode 2560x1080 --rate 74.99'
OnlyShowIn=LXDE
