# bash
alias home='~/'
alias ..='cd ..'
alias c='clear'
alias lt='c; pwd; tree -a -I ".git" -L'
alias ll='c; ls -alF'
alias l='lt 1'

# git
alias gs='c; git status'
alias gl="c; git log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'"
alias gd='c; git diff'

# dev
alias tasks='c; git grep -EI "TODO|FIXME|BUG"'
